/* Apply black background to the entire page */
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Level settings */
  .slider {
    --slider-width: 10px;
    --slider-height: 150px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 9px;
    
    /* Level */
    --level-color: #fff;
    --level-transition-duration: 0.1s;
    
    /* Icon */
    --icon-margin: 10px;
    --icon-color: white;
    --icon-size: 40px;
  }
  
  .slider {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider .volume {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-bottom: var(--icon-margin);
    color: var(--icon-color);
  }
  
  .slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    transition: height var(--level-transition-duration);
    cursor: inherit;
    writing-mode: bt-lr; /* Makes slider vertical */
  }
  
  .slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  
  .slider .level::-moz-range-thumb {
    width: 0;
    height: 0;
    border-radius: 0;
    border: none;
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  